In [44]:
import pandas as pd
import numpy as np

In [45]:
COVID_Data = pd.read_csv('COVID-19 Coronavirus.csv')

In [46]:
print(COVID_Data.shape)

(225, 10)

In [47]:
missing_values_count = COVID_Data.isnull().sum()

In [48]:
print(missing_values_count)

Country                    0
Other names                1
ISO 3166-1 alpha-3 CODE    0
Population                 0
Continent                  0
Total Cases                0
Total Deaths               0
Tot Cases//1M pop          0
Tot Deaths/1M pop          0
Death percentage           0
dtype: int64

In [7]:
COVID_Data.values

array([['Afghanistan', 'Afghanistan', 'AFG', ..., 4395, 190, 4.313743132],
       ['Albania', 'Albania', 'ALB', ..., 95349, 1216, 1.275057509],
       ['Algeria', 'Algeria', 'DZA', ..., 5873, 152, 2.587215976],
       ...,
       ['Yemen', 'Yemen', 'YEM', ..., 381, 69, 18.15178723],
       ['Zambia', 'Zambia', 'ZMB', ..., 16442, 206, 1.251119605],
       ['Zimbabwe', 'Zimbabwe', 'ZWE', ..., 16174, 357, 2.209106581]],
      dtype=object)

In [9]:
COVID_Data.describe()

,Population,Total Cases,Total Deaths,Tot Cases//1M pop,Tot Deaths/1M pop,Death percentage
count,2.250000e+02,2.250000e+02,2.250000e+02,225.000000,225.000000,225.000000
mean,3.507321e+07,2.184781e+06,2.744813e+04,136900.373333,1096.715556,1.444125
std,1.392418e+08,7.275938e+06,9.689177e+04,145060.340289,1195.715543,1.741728
min,8.050000e+02,1.000000e+00,0.000000e+00,9.000000,0.000000,0.000000
25%,5.665570e+05,2.407100e+04,1.890000e+02,11384.000000,123.000000,0.511291
50%,5.827911e+06,1.639360e+05,1.965000e+03,88987.000000,708.000000,1.036905
75%,2.190585e+07,1.092547e+06,1.366000e+04,223335.000000,1795.000000,1.977017
max,1.439324e+09,8.183905e+07,1.008222e+06,696044.000000,6286.000000,18.151787

In [42]:
COVID_Data.head()

,,Other names,ISO 3166-1 alpha-3 CODE,Population,Total Cases,Total Deaths,Tot Cases//1M pop,Tot Deaths/1M pop,Death percentage
Country,Continent,,,,,,,,
Afghanistan,Asia,Afghanistan,AFG,40462186,177827,7671,4395,190,4.313743
Albania,Europe,Albania,ALB,2872296,273870,3492,95349,1216,1.275058
Algeria,Africa,Algeria,DZA,45236699,265691,6874,5873,152,2.587216
Andorra,Europe,Andorra,AND,77481,40024,153,516565,1975,0.382271
Angola,Africa,Angola,AGO,34654212,99194,1900,2862,55,1.915438