In [1]:
import pandas

In [2]:
data=pandas.read_csv("2 Year IBM Stock Data.csv")

In [6]:
data.describe()

,open,high,low,close,volume
count,216883.000000,216883.000000,216883.000000,216883.000000,2.168830e+05
mean,118.568888,118.610088,118.527167,118.568678,1.123028e+04
std,11.032437,11.030216,11.034414,11.032587,2.550945e+04
min,93.893379,94.001154,93.878046,93.894886,0.000000e+00
25%,109.270433,109.306157,109.232227,109.272002,3.895500e+03
50%,116.919510,116.953384,116.880199,116.919510,6.786000e+03
75%,129.697796,129.731458,129.666234,129.700000,1.175100e+04
max,140.686324,140.778433,140.363945,140.658692,2.110106e+06

In [4]:
import("2 Year IBM Stock Data.csv")

SyntaxError: invalid syntax (Temp/ipykernel_41720/3533830114.py, line 1)