<a href="https://colab.research.google.com/github/michellecranmer/DAMarA/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import time
plt.style.use('seaborn')

In [2]:
function=requests.get('https://www.alphavantage.co/query?function=REAL_GDP&interval=annual&apikey=VL3RK94YY336VZ0Y')

In [4]:
data = function.json()

In [8]:
function.status_code

200

In [9]:
print(data)

{'name': 'Real Gross Domestic Product', 'interval': 'annual', 'unit': 'billions of dollars', 'data': [{'date': '2021-01-01', 'value': '19427.287'}, {'date': '2020-01-01', 'value': '18384.687'}, {'date': '2019-01-01', 'value': '19032.672'}, {'date': '2018-01-01', 'value': '18606.787'}, {'date': '2017-01-01', 'value': '18079.084'}, {'date': '2016-01-01', 'value': '17680.274'}, {'date': '2015-01-01', 'value': '17390.295'}, {'date': '2014-01-01', 'value': '16932.051'}, {'date': '2013-01-01', 'value': '16553.348'}, {'date': '2012-01-01', 'value': '16253.97'}, {'date': '2011-01-01', 'value': '15891.534'}, {'date': '2010-01-01', 'value': '15648.991'}, {'date': '2009-01-01', 'value': '15236.262'}, {'date': '2008-01-01', 'value': '15642.962'}, {'date': '2007-01-01', 'value': '15623.871'}, {'date': '2006-01-01', 'value': '15315.943'}, {'date': '2005-01-01', 'value': '14901.269'}, {'date': '2004-01-01', 'value': '14399.696'}, {'date': '2003-01-01', 'value': '13865.519'}, {'date': '2002-01-01', 'value': '13488.357'}, {'date': '2001-01-01', 'value': '13263.417'}, {'date': '2000-01-01', 'value': '13138.035'}, {'date': '1999-01-01', 'value': '12623.361'}, {'date': '1998-01-01', 'value': '12045.824'}, {'date': '1997-01-01', 'value': '11529.157'}, {'date': '1996-01-01', 'value': '11038.266'}, {'date': '1995-01-01', 'value': '10636.979'}, {'date': '1994-01-01', 'value': '10358.923'}, {'date': '1993-01-01', 'value': '9957.746'}, {'date': '1992-01-01', 'value': '9691.069'}, {'date': '1991-01-01', 'value': '9361.322'}, {'date': '1990-01-01', 'value': '9371.468'}, {'date': '1989-01-01', 'value': '9197.997'}, {'date': '1988-01-01', 'value': '8872.154'}, {'date': '1987-01-01', 'value': '8516.418'}, {'date': '1986-01-01', 'value': '8231.664'}, {'date': '1985-01-01', 'value': '7956.17'}, {'date': '1984-01-01', 'value': '7637.704'}, {'date': '1983-01-01', 'value': '7122.29'}, {'date': '1982-01-01', 'value': '6810.12'}, {'date': '1981-01-01', 'value': '6935.153'}, {'date': '1980-01-01', 'value': '6763.514'}, {'date': '1979-01-01', 'value': '6780.924'}, {'date': '1978-01-01', 'value': '6572.819'}, {'date': '1977-01-01', 'value': '6228.076'}, {'date': '1976-01-01', 'value': '5952.809'}, {'date': '1975-01-01', 'value': '5648.462'}, {'date': '1974-01-01', 'value': '5660.091'}, {'date': '1973-01-01', 'value': '5690.853'}, {'date': '1972-01-01', 'value': '5386.733'}, {'date': '1971-01-01', 'value': '5117.603'}, {'date': '1970-01-01', 'value': '4954.436'}, {'date': '1969-01-01', 'value': '4945.235'}, {'date': '1968-01-01', 'value': '4795.387'}, {'date': '1967-01-01', 'value': '4570.709'}, {'date': '1966-01-01', 'value': '4448.703'}, {'date': '1965-01-01', 'value': '4173.424'}, {'date': '1964-01-01', 'value': '3918.791'}, {'date': '1963-01-01', 'value': '3705.318'}, {'date': '1962-01-01', 'value': '3550.684'}, {'date': '1961-01-01', 'value': '3345.69'}, {'date': '1960-01-01', 'value': '3262.061'}, {'date': '1959-01-01', 'value': '3180.22'}, {'date': '1958-01-01', 'value': '2973.982'}, {'date': '1957-01-01', 'value': '2996.178'}, {'date': '1956-01-01', 'value': '2934.391'}, {'date': '1955-01-01', 'value': '2873.16'}, {'date': '1954-01-01', 'value': '2681.854'}, {'date': '1953-01-01', 'value': '2697.456'}, {'date': '1952-01-01', 'value': '2576.658'}, {'date': '1951-01-01', 'value': '2475.449'}, {'date': '1950-01-01', 'value': '2291.111'}, {'date': '1949-01-01', 'value': '2107.999'}, {'date': '1948-01-01', 'value': '2119.959'}, {'date': '1947-01-01', 'value': '2036.204'}, {'date': '1946-01-01', 'value': '2059.782'}, {'date': '1945-01-01', 'value': '2330.217'}, {'date': '1944-01-01', 'value': '2353.234'}, {'date': '1943-01-01', 'value': '2179.879'}, {'date': '1942-01-01', 'value': '1862.772'}, {'date': '1941-01-01', 'value': '1566.848'}, {'date': '1940-01-01', 'value': '1331.06'}, {'date': '1939-01-01', 'value': '1223.21'}, {'date': '1938-01-01', 'value': '1132.338'}, {'date': '1937-01-01', 'value': '1171.144'}, {'date': '1936-01-01', 'value': '1114.052'}, {'date': '1935-01-01', 'value': '986.905'}, {'date': '1934-01-01', 'value': '906.213'}, {'date': '1933-01-01', 'value': '817.824'}, {'date': '1932-01-01', 'value': '828.061'}, {'date': '1931-01-01', 'value': '950.686'}, {'date': '1930-01-01', 'value': '1015.751'}, {'date': '1929-01-01', 'value': '1110.206'}]}

In [14]:
for key, value in data.items():
    print(key, ":", value)

name : Real Gross Domestic Product
interval : annual
unit : billions of dollars
data : [{'date': '2021-01-01', 'value': '19427.287'}, {'date': '2020-01-01', 'value': '18384.687'}, {'date': '2019-01-01', 'value': '19032.672'}, {'date': '2018-01-01', 'value': '18606.787'}, {'date': '2017-01-01', 'value': '18079.084'}, {'date': '2016-01-01', 'value': '17680.274'}, {'date': '2015-01-01', 'value': '17390.295'}, {'date': '2014-01-01', 'value': '16932.051'}, {'date': '2013-01-01', 'value': '16553.348'}, {'date': '2012-01-01', 'value': '16253.97'}, {'date': '2011-01-01', 'value': '15891.534'}, {'date': '2010-01-01', 'value': '15648.991'}, {'date': '2009-01-01', 'value': '15236.262'}, {'date': '2008-01-01', 'value': '15642.962'}, {'date': '2007-01-01', 'value': '15623.871'}, {'date': '2006-01-01', 'value': '15315.943'}, {'date': '2005-01-01', 'value': '14901.269'}, {'date': '2004-01-01', 'value': '14399.696'}, {'date': '2003-01-01', 'value': '13865.519'}, {'date': '2002-01-01', 'value': '13488.357'}, {'date': '2001-01-01', 'value': '13263.417'}, {'date': '2000-01-01', 'value': '13138.035'}, {'date': '1999-01-01', 'value': '12623.361'}, {'date': '1998-01-01', 'value': '12045.824'}, {'date': '1997-01-01', 'value': '11529.157'}, {'date': '1996-01-01', 'value': '11038.266'}, {'date': '1995-01-01', 'value': '10636.979'}, {'date': '1994-01-01', 'value': '10358.923'}, {'date': '1993-01-01', 'value': '9957.746'}, {'date': '1992-01-01', 'value': '9691.069'}, {'date': '1991-01-01', 'value': '9361.322'}, {'date': '1990-01-01', 'value': '9371.468'}, {'date': '1989-01-01', 'value': '9197.997'}, {'date': '1988-01-01', 'value': '8872.154'}, {'date': '1987-01-01', 'value': '8516.418'}, {'date': '1986-01-01', 'value': '8231.664'}, {'date': '1985-01-01', 'value': '7956.17'}, {'date': '1984-01-01', 'value': '7637.704'}, {'date': '1983-01-01', 'value': '7122.29'}, {'date': '1982-01-01', 'value': '6810.12'}, {'date': '1981-01-01', 'value': '6935.153'}, {'date': '1980-01-01', 'value': '6763.514'}, {'date': '1979-01-01', 'value': '6780.924'}, {'date': '1978-01-01', 'value': '6572.819'}, {'date': '1977-01-01', 'value': '6228.076'}, {'date': '1976-01-01', 'value': '5952.809'}, {'date': '1975-01-01', 'value': '5648.462'}, {'date': '1974-01-01', 'value': '5660.091'}, {'date': '1973-01-01', 'value': '5690.853'}, {'date': '1972-01-01', 'value': '5386.733'}, {'date': '1971-01-01', 'value': '5117.603'}, {'date': '1970-01-01', 'value': '4954.436'}, {'date': '1969-01-01', 'value': '4945.235'}, {'date': '1968-01-01', 'value': '4795.387'}, {'date': '1967-01-01', 'value': '4570.709'}, {'date': '1966-01-01', 'value': '4448.703'}, {'date': '1965-01-01', 'value': '4173.424'}, {'date': '1964-01-01', 'value': '3918.791'}, {'date': '1963-01-01', 'value': '3705.318'}, {'date': '1962-01-01', 'value': '3550.684'}, {'date': '1961-01-01', 'value': '3345.69'}, {'date': '1960-01-01', 'value': '3262.061'}, {'date': '1959-01-01', 'value': '3180.22'}, {'date': '1958-01-01', 'value': '2973.982'}, {'date': '1957-01-01', 'value': '2996.178'}, {'date': '1956-01-01', 'value': '2934.391'}, {'date': '1955-01-01', 'value': '2873.16'}, {'date': '1954-01-01', 'value': '2681.854'}, {'date': '1953-01-01', 'value': '2697.456'}, {'date': '1952-01-01', 'value': '2576.658'}, {'date': '1951-01-01', 'value': '2475.449'}, {'date': '1950-01-01', 'value': '2291.111'}, {'date': '1949-01-01', 'value': '2107.999'}, {'date': '1948-01-01', 'value': '2119.959'}, {'date': '1947-01-01', 'value': '2036.204'}, {'date': '1946-01-01', 'value': '2059.782'}, {'date': '1945-01-01', 'value': '2330.217'}, {'date': '1944-01-01', 'value': '2353.234'}, {'date': '1943-01-01', 'value': '2179.879'}, {'date': '1942-01-01', 'value': '1862.772'}, {'date': '1941-01-01', 'value': '1566.848'}, {'date': '1940-01-01', 'value': '1331.06'}, {'date': '1939-01-01', 'value': '1223.21'}, {'date': '1938-01-01', 'value': '1132.338'}, {'date': '1937-01-01', 'value': '1171.144'}, {'date': '1936-01-01', 'value': '1114.052'}, {'date': '1935-01-01', 'value': '986.905'}, {'date': '1934-01-01', 'value': '906.213'}, {'date': '1933-01-01', 'value': '817.824'}, {'date': '1932-01-01', 'value': '828.061'}, {'date': '1931-01-01', 'value': '950.686'}, {'date': '1930-01-01', 'value': '1015.751'}, {'date': '1929-01-01', 'value': '1110.206'}]

In [18]:
pd.DataFrame(data)

,name,interval,unit,data
0,Real Gross Domestic Product,annual,billions of dollars,"{'date': '2021-01-01', 'value': '19427.287'}"
1,Real Gross Domestic Product,annual,billions of dollars,"{'date': '2020-01-01', 'value': '18384.687'}"
2,Real Gross Domestic Product,annual,billions of dollars,"{'date': '2019-01-01', 'value': '19032.672'}"
3,Real Gross Domestic Product,annual,billions of dollars,"{'date': '2018-01-01', 'value': '18606.787'}"
4,Real Gross Domestic Product,annual,billions of dollars,"{'date': '2017-01-01', 'value': '18079.084'}"
...,...,...,...,...
88,Real Gross Domestic Product,annual,billions of dollars,"{'date': '1933-01-01', 'value': '817.824'}"
89,Real Gross Domestic Product,annual,billions of dollars,"{'date': '1932-01-01', 'value': '828.061'}"
90,Real Gross Domestic Product,annual,billions of dollars,"{'date': '1931-01-01', 'value': '950.686'}"
91,Real Gross Domestic Product,annual,billions of dollars,"{'date': '1930-01-01', 'value': '1015.751'}"
92,Real Gross Domestic Product,annual,billions of dollars,"{'date': '1929-01-01', 'value': '1110.206'}"

AttributeError: ignored